body {
  text-align: center;
}

.rv-xy-plot {
  margin-left: auto;
  margin-right: auto;
}
.rv-xy-plot__inner path {
  fill: #fff;
  fill-opacity: 0;
}

.rv-xy-plot__grid-lines__line {
  stroke: #eaeaea;
}
